[cd]
command = "pwsh"
args = ["-NoLogo"]

[edit]
command = "code"
args = ["--wait"]

[diff]
command = "WinMergeU"
args = [
    "-s",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Target }}" }},
]

[merge]
command = "WinMergeU"
args = [
    "-s",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
]
