README.md

{{ if eq .chezmoi.hostname "xefiry-pc" }} # work only

AppData/Roaming/espanso/match/work.yml

{{ else }} # home only

AppData/Roaming/Chatterino2
AppData/Roaming/Mp3tag

{{ end }}
