README.md
Scripts/

{{ if eq .chezmoi.hostname "xefiry-pc" }} # work only

.unison/homedir.prf
AppData/Roaming/espanso/match/work.yml
AppData/Roaming/espanso/match/sql_work.yml

{{ else }} # home only

AppData/Roaming/Chatterino2/
AppData/Roaming/Mp3tag/

{{ end }}
