[core]
editor = "code --wait"
autocrlf = false

[push]
autoSetupRemote = true

[diff]
tool = winmerge

[user]
{{ if eq .chezmoi.hostname "xefiry-pc" -}}
name = xefiry
email = 188508735+xefiry@users.noreply.github.com
{{ else -}}
name = {{ .fullName }}
email = {{ .email }}

[credential {{ .Git_credential | quote }}]
provider = generic
{{ end -}}
