# Unison preferences
batch = true
ignore = Name ?*
ignorenot = Name history.db
ignorenot = Name playlists.db
ignorenot = Name profiles.db
ignorenot = Name search-history.db
ignorenot = Name settings.db
label = Synchronize Freetube's db files to OneDrive
root = {{ env "AppData" }}/FreeTube
root = {{ env "OneDrive" }}/FreeTube
