# Unison preferences
ignore = Name desktop.ini
label = Synchronize home directories to OneDrive
path = Desktop
path = Documents
path = Downloads
path = Links
path = Pictures
repeat = watch
root = {{ env "UserProfile" }}
root = {{ env "OneDrive" }}/Home
